@model OrchardCore.Commerce.ViewModels.CheckoutViewModel

<zone name="Header">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">@T["Checkout"]</div>
            </div>
        </div>
    </header>
</zone>
<section id="checkout">
    <div class="row">
        <div class="col-12 mx-auto">
            <h1>@T["Checkout"]</h1>
        </div>
    </div>
    <div class="card-payment-form_container">
        <form id="card-payment-form" class="card-payment-form">
            @Html.AntiForgeryToken()
            @await DisplayAsync(Model.NewOrderEditor)

            <shape type="StripeCheckout"
                   prop-DefaultTotal="@Model.SingleCurrencyTotal"
                   prop-PublishableKey="@Model.StripePublishableKey"/>
        </form>
    </div>
</section>

<style asp-src="~/OrchardCore.Commerce/css/credit-card-form.min.css"></style>

<script at="Foot">
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('OrderPart_Email_Text').value = @Model.UserEmail.JsonHtmlContent();
    });
</script>
