@model OrchardCore.Commerce.ViewModels.CheckoutViewModel

<zone name="Header">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">@T["Checkout"]</div>
            </div>
        </div>
    </header>
</zone>
<section id="checkout">
    <div class="row">
        <div class="col-12 mx-auto">
            <h1>@T["Checkout"]</h1>
        </div>
    </div>
    <div class="card-payment-form_container">
        <form id="card-payment-form" class="card-payment-form">
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    <label for="card-payment-form_name">@T["Name"]</label>
                    <input id="card-payment-form_name" type="text" required>
                </div>
                <div class="row">
                    <label for="card-payment-form_email">@T["Email"]</label>
                    <input id="card-payment-form_email" type="email" required>
                </div>
                <div class="row">
                    <label for="card-payment-form_phone">@T["Phone"]</label>
                    <input id="card-payment-form_phone" type="tel" required>
                </div>
            </fieldset>

            @await DisplayAsync(Model.NewOrderEditor)

            <shape type="StripeCheckout"
                   prop-DefaultTotal="@Model.SingleCurrencyTotal"
                   prop-PublishableKey="@Model.StripePublishableKey"/>

            <div class="error pt-4" role="alert">
                <span class="error-message"></span>
            </div>
        </form>
    </div>
</section>

<style asp-src="~/OrchardCore.Commerce/css/credit-card-form.min.css"></style>
