@model dynamic
@{
    var returnUrl = Context.Request.Path;
}

<div class="card">
    <div class="card-body">
        <h4>@T["Price Book by Role"]</h4>
        <p class="hint">@T["Associate a price book with a role."]</p>
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a asp-area="OrchardCore.Contents"
           asp-controller="Admin"
           asp-action="Create"
           asp-route-id="@Model.Name"
           asp-route-returnUrl="@returnUrl"
           class="btn btn-primary btn-sm">@T["Add"]</a>
    </div>
</div>