@model ShoppingCartViewModel
@using OrchardCore.Commerce.Abstractions
@using OrchardCore.Commerce.Money
<zone name="Header">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">@T["Your cart"]</div>
            </div>
        </div>
    </header>
</zone>
<section id="shopping-cart">
    <table class="table">
        <thead><tr><th>@T["Quantity"]</th><th>@T["Product"]</th><th>@T["Price"]</th><th>@T["Action"]</th></tr></thead>
        <tbody>
            @foreach (ShoppingCartLineViewModel item in Model.Lines)
            {
                <tr>
                    <td>@T["{0} x ", item.Quantity]</td>
                    <td>
                        <a href="@item.ProductUrl">@item.ProductName</a>
                        @if (item.Attributes != null)
                        {
                            <ul class="cart-product-attributes">
                                @foreach (IProductAttributeValue attr in item.Attributes.Select(attr => attr.Value).Where(val => val.UntypedValue != null))
                                {
                                    <shape tag="li" Type="@attr.GetType().Name" prop-attribute="@attr" prop-label="@attr.Label"/>
                                }
                            </ul>
                        }
                    </td>
                    <td>@item.UnitPrice</td>
                    <td>
                        @{
                            int i = 0;
                            var id = $"product-{item.ProductSku}";
                        }
                        <form asp-action="RemoveItem" asp-controller="ShoppingCart" asp-area="OrchardCore.Commerce">
                            <input type="hidden" name="line.ProductSku" value="@item.ProductSku" />
                            @foreach (IProductAttributeValue attr in item.Attributes.Select(attr => attr.Value).Where(val => val.UntypedValue != null))
                            {
                                <shape Type="@attr.GetType().Name" alternate="@(attr.GetType().Name)_hidden" prop-index="@(i++)" prop-attributeValue="@attr" prop-idPrefix="@id" />
                            }
                            <button type="submit" class="btn btn-primary">@T["Remove"]</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">@T["Total"]</th>
                <td>
                    @foreach(Amount total in Model.Totals)
                    {
                    <div>@total</div>
                    }
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</section>
