@model CheckoutViewModel

@{
    var orderPart = Model.OrderPart;

    var regions = Model.Regions.AsList();
    var provinces = Model.Provinces;
}

<section id="checkout">
    <div class="payment-form_container">
        <form id="payment-form" class="payment-form">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="OrderPart.Email.Text">@T["E-mail *"]</label>
                <input asp-for="OrderPart.Email.Text" class="form-control content-preview-text" required />
            </div>
            <div class="mb-3">
                <label asp-for="OrderPart.Phone.Text">@T["Phone Number *"]</label>
                <input asp-for="OrderPart.Phone.Text" class="form-control content-preview-text" required />
            </div>
            <div class="address address_billing-address">
                <h3 class="address__title">@T["Billing Address"]</h3>

                @await DisplayAsync(
                    new AddressFieldEditorViewModel
                    {
                        AddressField = orderPart.BillingAddress,
                        CityName = Html.NameFor(model => model.OrderPart.BillingAddress.Address.City),
                        Regions = regions,
                        Provinces = provinces,
                    })
            </div>

            <div class="address address_shipping-address">
                <h3 class="address__title">@T["Shipping Address"]</h3>

                @await DisplayAsync(
                    new AddressFieldEditorViewModel
                    {
                        AddressField = orderPart.ShippingAddress,
                        CityName = Html.NameFor(model => model.OrderPart.ShippingAddress.Address.City),
                        Regions = regions,
                        Provinces = provinces,
                    })
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox"
                           asp-for="OrderPart.BillingAndShippingAddressesMatch.Value"
                           class="form-check-input content-preview-select"
                           data-val="true"
                           value="true">
                    <label asp-for="OrderPart.BillingAndShippingAddressesMatch.Value" class="form-check-label">
                        @T["Shipping Address and Billing Address are the same"]
                    </label>
                </div>
            </div>

            @foreach (var shape in Model.CheckoutShapes)
            {
                try
                {
                    @await DisplayAsync(shape)
                }
                catch (Exception exception) when (exception.Message.RegexIsMatch(@"Shape type '[^']*' not found"))
                {
                    // It's fine, we only want to display the shape if a template exists.
                }
            }

            <shape type="StripeCheckout"
                   prop-DefaultTotal="@Model.SingleCurrencyTotal"
                   prop-PublishableKey="@Model.StripePublishableKey"
                   prop-ClientSecret="@Model.PaymentIntent.ClientSecret"/>
        </form>
    </div>
</section>

<style asp-name="@ResourceNames.PaymentForm"></style>

<script asp-name="@ResourceNames.ToggleSecondAddress" at="Foot"></script>
<script depends-on="@ResourceNames.ToggleSecondAddress" at="Foot">
    const checkbox = document.getElementById('OrderPart_BillingAndShippingAddressesMatch_Value');
    checkbox.checked = @Json.Serialize(Model.OrderPart.BillingAndShippingAddressesMatch.Value);
    initializeToggleSecondAddress(
        checkbox,
        document.querySelector('.address_billing-address'),
        document.querySelector('.address_shipping-address'));
</script>
