@model CommerceSettingsViewModel

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<fieldset class="form-group" asp-validation-class-for="Currency">
    <label asp-for="DefaultCurrency">@T["Default currency"]</label>

    <div class="input-group">
        <div class="input-group-append">
            <select asp-for="DefaultCurrency"
                    asp-items="@(new SelectList(Model.Currencies, "Text", "Value"))"></select>
        </div>
    </div>

    <span class="hint">@T["The default currency used by the system."]</span>

    <br />

    <label asp-for="CurrentDisplayCurrency">@T["Current display currency"]</label>

    <div class="input-group">
        <div class="input-group-append">
            <select asp-for="CurrentDisplayCurrency"
                    asp-items="@(new SelectList(Model.Currencies, "Text", "Value"))"></select>
        </div>
    </div>

    <span class="hint">@T["The currently used currency for displaying prices to customers."]</span>

</fieldset>
