@using OrchardCore.DisplayManagement

@model ProductListOrderByViewModel

@{
    var selectedOrderByOption = Context.Request.Query["products.orderBy"].ToString();
}

@if (Model.OrderByOptions.Any())
{
    <form method="get" action="@Context.Request.Path@Context.Request.QueryString" class="d-inline-flex w-100">
        <label for="products-order-by">@T["Sort By"]</label>
        <select name="products.orderBy" class="form-select" id="products-order-by">
            <option value="">@T["Select..."]</option>
            @foreach (var option in Model.OrderByOptions)
            {
                dynamic shape = await Factory.CreateAsync("ProductList__OrderBy__" + option);
                shape.ProductListPart = Model.ProductListPart;
                shape.Selected = option == selectedOrderByOption;
                @await DisplayAsync(shape)
            }
        </select>
        @foreach(var key in Context.Request.Query.Keys)
        {
            if (key != "products.orderBy")
            {
                <input type="hidden" name="@key" value="@Context.Request.Query[key]" />
            }
        }
        <button type="submit" class="btn btn-primary">@T["Apply"]</button>
    </form>
}
