@model ProductPartViewModel

@{
    var id = $"product-{Model.Sku}";
    var attributes = Model
        .Attributes
        .Select((attribute, index) => (Attribute: attribute, Index: index));

    // Only Price Variant Products have attributes, and we only need to handle regular Products here.
    var canBeBought = Model.Attributes.Count() == 0 ? Model.CanBeBought["DEFAULT"] : true;
}

<form asp-action="AddItem" asp-controller="ShoppingCart" asp-area="OrchardCore.Commerce">
    <input type="hidden" name="line.ProductSku" value="@Model.Sku" />
    <label for="@id-quantity">@T["Quantity"]</label>
    <input id="@id-quantity" type="number" name="line.Quantity" step="1" min="1" value="1" class="form-control" />
    <ul class="product-attribute-list">
    @foreach (var (attribute, index) in attributes)
    {
        <li>
            <shape Type="@(attribute.Field.GetType().Name)"
                    prop-index="@index"
                    prop-attributeDescription="@(attribute)"
                    prop-idPrefix="@id"
                    prop-sku="@Model.Sku"
                    prop-canBeBought="@Model.CanBeBought"/>
        </li>                
    }
    </ul>
    <button type="submit" class="btn btn-primary" disabled="@(!canBeBought)">@T["Add to cart"]</button>
</form>
