@using OrchardCore.Commerce.Models;
@using OrchardCore.Commerce.MoneyDataType;
@using OrchardCore.Commerce.Tax.Extensions;

@inject OrchardCore.Settings.ISiteService SiteService

@{
    var viewModel = (ShoppingCartViewModel)Model.ShoppingCartViewModel;
    var lines = viewModel.Lines;
    var priceDisplaySettings = (await SiteService.GetSiteSettingsAsync()).As<PriceDisplaySettings>();

    var currency = viewModel.Totals.First().Currency;
    var netTotal = new Amount(0, currency);
    var grossTotal = new Amount(0, currency);

    foreach (var line in lines)
    {
        // AdditionalData only exists if Gross Price is specified.
        var additionalDataExists = line.AdditionalData.Count != 0;
        if (additionalDataExists)
        {
            var grossPrice = line.AdditionalData.GetGrossPrice();
            grossTotal += grossPrice * line.Quantity;            
        }

        var netPrice = additionalDataExists ? line.AdditionalData.GetNetPrice() : line.UnitPrice;
        netTotal += netPrice * line.Quantity;
    }
}

<table class="table shopping-cart-table">
    <thead>
    <tr>
        @foreach (var header in viewModel.Headers)
        {
            <th scope="col">@header</th>
        }
    </tr>
    </thead>

    <tbody>
    @foreach (var line in viewModel.TableShapes)
    {
        <tr>
            @foreach (var cell in line)
            {
                <td>
                    @await DisplayAsync(cell)
                </td>
            }
        </tr>
    }
    </tbody>

    <tfoot>
    <tr>
        <td class="font-weight-bold">@T["Total"]</td>
        <td colspan="@(viewModel.Headers.Count - 2)" class="shopping-cart-table-totals">

            @* If there's no Gross Price, display original totals. *@
            @if (grossTotal.Value == 0)
            {
                @foreach (var total in viewModel.Totals)
                {
                    <div>@total</div>
                }                    
            }
            else
            {
                <p>
                    @if (priceDisplaySettings.UseNetPriceDisplay)
                    {
                        @T["Net Price: {0}", netTotal];
                    }
                    @if (priceDisplaySettings.UseNetPriceDisplay && priceDisplaySettings.UseGrossPriceDisplay)
                    {
                        <text>｜</text>
                    }
                    @if (priceDisplaySettings.UseGrossPriceDisplay)
                    {
                        @T["Gross Price: {0}", grossTotal];
                    }
                </p>
            }
        </td>
        <td>
            <form asp-action="Update" asp-controller="ShoppingCart" asp-area="OrchardCore.Commerce" id="shopping-cart-update">
                <button type="submit" class="btn btn-primary">@T["Update"]</button>
            </form>
        </td>
    </tr>
    </tfoot>
</table>
