@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.Commerce.MoneyDataType

@{
    if (Model.DefaultTotal is not Amount defaultTotal)
    {
        throw new InvalidOperationException("Missing DefaultTotal");
    }

    string publishableKey = Model.PublishableKey ?? string.Empty;
}

<input type="hidden" id="StripePaymentPart_PaymentIntentId_Text" name="StripePaymentPart.PaymentIntentId.Text">

<input type="hidden" id="StripePaymentPart_PaymentMethodId_Text" name="StripePaymentPart.PaymentMethodId.Text">

<h3>@T["Stripe Payment"]</h3>

<fieldset>
    <div class="row credit-card">
        <div id="card-payment-form_card">@T["Stripe payment is not configured for this site."]</div>
    </div>
</fieldset>

<div class="pay-button-container">
    <button type="submit" class="pay-button btn btn-success justify-content-center">
        <span class="pay-text"> @T["Pay {0}", defaultTotal]</span>
        <div class="payment-processing-container" hidden>
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
            <span>@T["Processing payment..."]</span>
        </div>
    </button>
</div>

<div class="error pt-4" role="alert">
    <span class="error-message"></span>
</div>

@if (!string.IsNullOrEmpty(publishableKey))
{
    <script at="Head" asp-name="StripeJs" asp-src="https://js.stripe.com/v3/"></script>
    <script at="Head" asp-name="@ResourceNames.StripeCardForm"></script>
    <script at="Foot" depends-on="StripeJs,StripeCardForm">
        stripeCardForm(
            Stripe(@publishableKey.JsonHtmlContent()),
            document.querySelector('input[name="__RequestVerificationToken"]').value,
        @Url.Content("~/").TrimEnd('/').JsonHtmlContent(),
        @T["There was an error during fetching!"].Json());
    </script>
}
