@model TieredPricePartViewModel

@if (Model.Tiers?.Any() == true)
{
    <div class="product-price-tiers">
        <div>@T["Price:"] @Model.DefaultPrice.ToString()</div>
        <div>@T["Tiers:"]</div>
        <ul>
            @foreach (var tier in Model.Tiers)
            {
                <li>@tier.Quantity - @tier.UnitPrice</li>
            }
        </ul>
    </div>
}
