@using System.Text.Json
@model TieredPricePartViewModel

<h3>@T["Price tiers"]</h3>

<section id="price-tiers">
    <input type="hidden" name="@Html.NameFor(m => m.TieredValuesSerialized)" v-model="tieredValuesSerialized" />

    <div class="mb-3" v-for="tier in tiers">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <input type="text" class="form-control" v-model="tier.Quantity" placeholder="@T["Quantity"]"/>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" v-model="tier.UnitPrice" placeholder="@T["Price"]"/>
            </div>
            <div class="col-auto">
                <div class="btn btn-danger" @@click="remove(tier)">@T["Remove"]</div>
            </div>
        </div>
    </div>
    <div class="btn btn-primary mb-3" @@click="add()">@T["Add"]</div>
    <span asp-validation-for="TieredValuesSerialized"></span>

    <div class="mb-3" asp-validation-class-for="Currency">
        <label asp-for="Currency">@T["Currency"] </label>
        <div class="input-group">
            <select asp-for="Currency"
                    class="form-select"
                    asp-items="@(new SelectList(Model.Currencies, "CurrencyIsoCode", "CurrencyIsoCode"))"></select>
        </div>
        <span asp-validation-for="Currency"></span>
    </div>
</section>

<script at="Foot" asp-name="vuejs"></script>
<script at="Foot" depends-on="vuejs">
    let app = new Vue({
        el: "#price-tiers",
        data: {
            tiers: []
        },
        computed: {
            tieredValuesSerialized() {
                return JSON.stringify(this.tiers.map(tier => ({
                    Quantity: Number(tier.Quantity),
                    UnitPrice: Number(tier.UnitPrice)
                })));
            }
        },
        mounted() {
            this.tiers = @(!string.IsNullOrEmpty(Model.TieredValuesSerialized) ? Html.Raw(Model.TieredValuesSerialized) : "[]");
        },
        methods: {
            remove(tier) {
                this.tiers.splice(this.tiers.indexOf(tier), 1);
            },
            add() {
                const maxQuantity = Math.max(0, ...this.tiers.map(t => t.Quantity ?? 0));
                this.tiers.push({ Quantity: maxQuantity + 1, UnitPrice: "" });
            }
        },
    });
</script>

