@using OrchardCore.Commerce.ViewModels

@model CardPaymentReceiptViewModel

<div class="row pt-md-5">
    <div class="col-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-success text-center">@T["Thanks, Here's Your Receipt!"]</h4>
            </div>
            <div class="panel-body">
                <p>
                    <b>@T["Amount:"] </b>@(Model.Amount)<br />
                    <b>@T["Currency:"] </b>@Model.Currency<br />
                    <b>@T["Description:"] </b>@Model.Description<br />
                    <b>@T["Status:"] </b>@Model.Status<br />
                    <b>@T["Created:"] </b>@Model.Created<br />
                    <b>@T["Id:"] </b>@Model.Id<br />
                </p>
            </div>
        </div>
    </div>
</div>


